/bin/ export-ignore
/temp/ export-ignore
/tests/ export-ignore
/examples/ export-ignore
/.* export-ignore
/*.yml export-ignore
/*.xml export-ignore
/README.md
/composer-travis-ci.json export-ignore

*.sh text eol=lf
