<?php

if (!class_exists('PhpCsFixer\Config', true)) {
    fwrite(STDERR, "Your php-cs-version is outdated: please upgrade it.\n");
    die(16);
}

return PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__.'/.php_cs.cache')
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'long'],
        'no_php4_constructor' => true,
        'no_unreachable_default_argument_value' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'php_unit_construct' => false,
        'php_unit_strict' => true,
        'phpdoc_add_missing_param_annotation' => ['only_untyped' => false],
        'phpdoc_align' => false,
        'phpdoc_no_access' => false,
        'phpdoc_no_package' => false,
        'phpdoc_order' => true,
        'protected_to_private' => false,
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->exclude(array(
            'src/data',
            'tests/dataFiles',
            'vendor',
        ))
        ->in(__DIR__)
    )
;

/*
This document has been generated with
https://mlocati.github.io/php-cs-fixer-configurator/?version=2.2
you can change this configuration by importing this YAML code:

fixerSets:
  - '@Symfony'
  - '@Symfony:risky'
risky: true
fixers:
  array_syntax:
    syntax: long
  no_php4_constructor: true
  no_unreachable_default_argument_value: true
  no_useless_else: true
  no_useless_return: true
  ordered_class_elements: true
  ordered_imports: true
  php_unit_construct: false
  php_unit_strict: true
  phpdoc_add_missing_param_annotation:
    only_untyped: false
  phpdoc_align: false
  phpdoc_no_access: false
  phpdoc_no_package: false
  phpdoc_order: true
  protected_to_private: false

*/