<phpunit
	bootstrap="./tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="Data tests">
			<directory>./tests/Data/</directory>
		</testsuite>
		<testsuite name="Calendar tests">
			<directory>./tests/Calendar/</directory>
		</testsuite>
		<testsuite name="Miscellaneous functions tests">
			<directory>./tests/Misc/</directory>
		</testsuite>
	</testsuites>
</phpunit>
