<phpunit
	bootstrap="./tests/bootstrap.php"
	backupGlobals="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="Data tests">
			<directory>./tests/Data/</directory>
		</testsuite>
		<testsuite name="Calendar tests">
			<directory>./tests/Calendar/</directory>
		</testsuite>
		<testsuite name="Miscellaneous functions tests">
			<directory>./tests/Misc/</directory>
			<directory phpVersion="5.5" phpVersionOperator=">=">./tests/Misc5_5/</directory>
		</testsuite>
		<testsuite name="Plural functions tests">
			<directory>./tests/Plural/</directory>
		</testsuite>
		<testsuite name="Unit functions tests">
			<directory>./tests/Unit/</directory>
		</testsuite>
		<testsuite name="Language functions tests">
			<directory>./tests/Language/</directory>
		</testsuite>
		<testsuite name="Territory functions tests">
			<directory>./tests/Territory/</directory>
		</testsuite>
		<testsuite name="Number functions tests">
			<directory>./tests/Number/</directory>
		</testsuite>
		<testsuite name="Phone functions tests">
			<directory>./tests/Phone/</directory>
		</testsuite>
		<testsuite name="Currency functions tests">
			<directory>./tests/Currency/</directory>
		</testsuite>
		<testsuite name="Exceptions tests">
			<directory>./tests/Exception/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<exclude>
				<directory suffix=".php">./src/data</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
